<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap -->>
	<link href="https://cdn.jsdeliver.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">

	<link th:href="@{/css/style.css}" rel="stylesheet">

	<title>民宿一覧</title>
</head>

<body>
	<div class="moattravel-wrapper">
		<!-- ヘッダー -->
		<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm moattravel-navbar">
			<div class="container moattravel-container">
				<a class="navbar-brand" th:href="@{/}">
					<imag class="moattravel-logo me-1" th:src="@{/images/logo.png}" alt="moat Travel">
				</a>
			</div>
		</nav>
		<main>
			<div class="container pt-4 pb-5 moattravel-container">
				<div class="raw justify-content-center">
					<div class="col-xx-9 col-xl-10 col-lg-11">
						<h1 class="mb-4 text-center">民宿一覧</h1>
						<div class="d-flex justify-content-end">
							<a href="#" class="btn text-white shadow-sm mb-3 mottravel-btn">登録</a>
						</div>
					</div>
				</div>
			</div>
	</div>
	</main>
	</div>



	<p>Hello, world!</p>
</body>

</html>