<!DOCTYPE html>
	<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:replace="~{fragment :: meta}"></div>   

    <div th:replace="~{fragment :: styles}"></div>

    <title>moat Travel</title>
</head>

<body>
    <p>Hello, world!</p>

    <div class="moattravel-wrapper">
        <!-- ヘッダー -->
        <div th:replace="~{fragment :: header}"></div>

		<main>
		    <div class="container pt-4 pb-5 moattravel-container">

		        <div th:if="${param.loggedIn}" class="alert alert-info">
		            ログインしました。
		        </div>  

		        <div th:if="${param.loggedOut}" class="alert alert-info">
		            ログアウトしました。
		        </div>

		        <div th:if="${successMessage}" class="alert alert-info">
		            <span th:text="${successMessage}"></span>
		        </div> 

		        <div class="d-flex justify-content-center">                                            
		            <form method="get" th:action="@{/houses}" class="mb-5 moattravel-search-form">
		                <div class="input-group">
		                    <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="民宿名・目的地">
		                    <button type="submit" class="btn text-white shadow-sm moattravel-btn">検索</button> 
		                </div>               
		            </form>                        
		        </div>                                                                                                  

		        <h2 class="text-center mb-3">新着</h2>
		        <div class="row row-cols-lg-5 row-cols-2 g-3 mb-5">                                        
		            <div class="col" th:each="newHouse : ${newHouses}">
		                <a th:href="@{/houses/__${newHouse.getId()}__}" class="link-dark moattravel-card-link">
		                    <div class="card h-100">                                                                        
		                        <img th:if="${newHouse.getImageName()}" th:src="@{/storage/__${newHouse.getImageName()}__}" class="card-img-top moattravel-vertical-card-image" alt="店舗画像">                                     
		                        <img th:unless="${newHouse.getImageName()}" th:src="@{/images/noImage.png}" class="card-img-top moattravel-vertical-card-image" alt="NO IMAGE">                                                                                                                        

		                        <div class="card-body">                                    
		                            <h3 class="card-title" th:text="${newHouse.getName()}"></h3>

		                            <p class="card-text mb-1">
		                                <small class="text-muted" th:text="${newHouse.getAddress()}"></small>                                            
		                            </p>

		                            <p class="card-text">
		                                <span th:text="${#numbers.formatInteger(newHouse.getPrice(), 1, 'COMMA') + '円 / 泊'}"></span>                                            
		                            </p>                                    

		                        </div>
		                    </div>    
		                </a>            
		            </div>                                               
		        </div>

		        <div class="row justify-content-center">
		            <div class="col-xl-5 col-lg-6 col-md-8">                    

		                <h2 class="text-center mb-3">エリアから探す</h2>                                        

		                <table class="table">
		                    <tbody>                                                     

		                        <tr>
		                            <th>北海道</th>
		                            <td>
		                                <a th:href="@{/houses?area=北海道}">北海道</a>
		                            </td>
		                        </tr>  

		                        <tr>
		                            <th>東北</th>
		                            <td>
		                                <a th:href="@{/houses?area=青森県}" class="me-2">青森県</a>
		                                <a th:href="@{/houses?area=岩手県}" class="me-2">岩手県</a>
		                                <a th:href="@{/houses?area=宮城県}" class="me-2">宮城県</a>
		                                <a th:href="@{/houses?area=秋田県}" class="me-2">秋田県</a>
		                                <a th:href="@{/houses?area=山形県}" class="me-2">山形県</a>
		                                <a th:href="@{/houses?area=福島県}">福島県</a>
		                            </td>
		                        </tr>  

		                        <tr>
		                            <th>北関東</th>
		                            <td>
		                                <a th:href="@{/houses?area=茨城県}" class="me-2">茨城県</a>
		                                <a th:href="@{/houses?area=栃木県}" class="me-2">栃木県</a>
		                                <a th:href="@{/houses?area=群馬県}">群馬県</a>
		                            </td>
		                        </tr>  

		                        <tr>
		                            <th>首都圏</th>
		                            <td>
		                                <a th:href="@{/houses?area=埼玉県}" class="me-2">埼玉県</a>
		                                <a th:href="@{/houses?area=千葉県}" class="me-2">千葉県</a>
		                                <a th:href="@{/houses?area=東京都}" class="me-2">東京都</a>
		                                <a th:href="@{/houses?area=神奈川県}">神奈川県</a>
		                            </td>
		                        </tr>

		                        <!-- 以下同様の構造なので省略せずそのまま利用できます -->

		                    </tbody>
		                </table>  

		            </div>
		        </div>                               

		    </div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>

		<div th:replace="~{fragment :: scripts}"></div>
		</body>
		</html>